
@{
    ViewData["Title"] = "Profile";
}

<script src="~/js/Food.js" asp-append-version="true" defer></script>
<script src="~/js/profile.js" asp-append-version="true" defer></script>
<link rel="stylesheet" href="~/css/Food.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />

<h1 id="profile-name"></h1>
<h3>Posts From User</h3>
<div id="user-posts">
    @*Here we can view the posts from the user*@
</div>
<h3>User Likes</h3>
<div id="user-likes">
    @*Here we can view the posts from the user*@
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            @*
            $.ajax({
                type: "GET",
                url: "@Url.Action("CurrentUser")",
                dataType: "json",
                success: function (result) {
                    console.log(result)
                },
                error: function (req, status, error) {
                    console.log(status)
                }
            })

            $.ajax({
                type: "POST",
                url: "@Url.Action("PostName")",
                dataType: "json",
                data: { name: "Charley" },
                success: function (result) {
                    console.log(result)
                },
                error: function (req, status, error) {
                    console.log(status)
                }
            })*@
        })
    </script>
}
