
@{
    ViewData["Title"] = "Profile";
}

<script src="~/js/Food.js" asp-append-version="true" defer></script>
<script src="~/js/profile.js" asp-append-version="true" defer></script>
<link rel="stylesheet" href="~/css/Food.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />

<h1>Profile</h1>
<div class="user-posts">
    @*Here we can view the posts from the user*@
</div>

