@{
    ViewData["Title"] = "Create an Account";
}


 
    <div class="vh-100">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="background-color: darkgrey; border-radius: 15px;">
                        <div class="card-body p-5">
        
      <h2 class="text-center mb-5">CREATE AN ACCOUNT</h2>

              

                <div class="form-outline mb-4">
                  <input type="text" id="Username" class="form-control form-control-lg" />
                  <label class="form-label" for="Username">Username</label>
                </div>


                <div class="form-outline mb-4">
                  <input type="password" id="Password" class="form-control form-control-lg" />
                  <label class="form-label" for="Password">Password</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="Confirm" class="form-control form-control-lg" />
                  <label class="form-label" for="Confirm">Confirm Password</label>
                </div>

                 <div class="form-outline mb-4">
                     <input type="number" id="Weight" class="form-control form-control-lg" />
                  <label class="form-label" for="Weight">Current Weight</label>
                  </div>

                <div class="d-flex justify-content-center">
                  <button type="button"
                    class="btn btn-success btn-block btn-lg" style="background-color:maroon;">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Already an account? <a asp-area="" asp-controller="Home" asp-action="Login" class="text-white-50 fw-bold">Login</a></p>

            

            </div>
            </div>
          </div>
    </style>*@
    <h2>Create An Account</h2>
    <form>
        <div>
            <label>Username:</label>
            <input type="text" id="Name" />
        </div>
        <div>
            <label>New Password:</label>
            <input type="password" id="Password" />
        </div>
        <div>
            <label>Confirm Password:</label>
            <input type="password" id="confirm" />
        </div>
        <div>
            <label>Height:</label>
            <input type="number" id="height" />
        </div>
        <div>
            <label>Weight:</label>
            <input type="number" id="weight" />
        </div>
        <div>
            <label>Goal:</label>
            <input type="radio" class="goal" value="Gain Weight" name="goal"/>
            <label>Gain Weight</label>
            <input type="radio" class="goal" value="Maintain Weight" name="goal"/>
            <label>Maintain Weight</label>
            <input type="radio" class="goal" value="Lose Weight" name="goal"/>
            <label>Lose Weight</label>
    </style>*@
    <h2>Create An Account</h2>
    <form>
        <div>
            <label>Username:</label>
            <input type="text" id="Name" />
        </div>
        <div>
            <label>New Password:</label>
            <input type="password" id="Password" />
        </div>
        <div>
            <label>Confirm Password:</label>
            <input type="password" id="confirm" />
        </div>
        <div>
            <label>Height:</label>
            <input type="number" id="height" />
        </div>
        <div>
            <label>Weight:</label>
            <input type="number" id="weight" />
        </div>
        <div>
            <label>Goal:</label>
            <input type="radio" class="goal" value="Gain Weight" name="goal"/>
            <label>Gain Weight</label>
            <input type="radio" class="goal" value="Maintain Weight" name="goal"/>
            <label>Maintain Weight</label>
            <input type="radio" class="goal" value="Lose Weight" name="goal"/>
            <label>Lose Weight</label>
    </style>*@
    <h2>Create An Account</h2>
    <form>
        <div>
            <label>Username:</label>
            <input type="text" id="Name" />
        </div>
        <div>
            <label>New Password:</label>
            <input type="password" id="Password" />
        </div>
        <div>
            <label>Confirm Password:</label>
            <input type="password" id="confirm" />
        </div>
        <div>
            <label>Height:</label>
            <input type="number" id="height" />
        </div>
        <div>
            <label>Weight:</label>
            <input type="number" id="weight" />
        </div>
        <div>
            <label>Goal:</label>
            <input type="radio" class="goal" value="Gain Weight" name="goal"/>
            <label>Gain Weight</label>
            <input type="radio" class="goal" value="Maintain Weight" name="goal"/>
            <label>Maintain Weight</label>
            <input type="radio" class="goal" value="Lose Weight" name="goal"/>
            <label>Lose Weight</label>
        </div>
      </div>
    </div>
  </div>
</>
    
