@{
    ViewData["Title"] = "Home Page";
}

<script src="~/js/Food.js" asp-append-version="true" defer></script>
<script src="~/js/index.js" asp-append-version="true" defer></script>
<link rel="stylesheet" href="~/css/Food.css" asp-append-version="true" />

<div class="body-container">
    <div id="food-feed">
        @*Here would be the feed loaded from the database, but for now it is example items*@
    </div>
    <div id="dashboard">
        @*Here is where we would load a dashboard with javascript*@
        @*It would have quick information the user might want to view their daily stats*@
    </div>
</div>
