@model FoodViewModel

@{
    ViewData["Title"] = "Create a Food";
}

<div class="authForm container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card" style="background-color: lightgray; border-radius: 15px;">
                @using (Html.BeginForm("GetFoodEntry", "Entry", FormMethod.Post)) {
                    <form class="card-body p-5">


                        <h1 class="mb-2">ADD A FOOD</h1>


                        @*Food Name field*@
                        <div class="form-outline mb-2">
                            <input type="text" id="foodname" class="form-control form-control-sm" />
                            <label class="form-label" for="foodname">Food Name</label>
                        </div>

                        @*Description Box*@
                        <div class="form-outline mb-2">
                            <textarea id="description" class="form-control form-control-lg"></textarea>
                            <label class="form-label" for="description">Food Description</label>
                        </div>

                        @*Calories*@
                        <div class="form-outline mb-2">
                            <input type="number" id="calories" class="form-control form-control-sm" />
                            <label class="form-label" for="Calories">Calories</label>
                        </div>

                        @*Protein*@
                        <div class="form-outline mb-2">
                            <input type="number" id="protein" class="form-control form-control-sm" />
                            <label class="form-label" for="protein">Protein (g)</label>
                        </div>

                        @*Carbohydrates*@
                        <div class="form-outline mb-2">
                            <input type="number" id="carbohydrates" class="form-control form-control-sm" />
                            <label class="form-label" for="carbohydrates">Carbohydrates (g)</label>
                        </div>

                        @*Fat*@
                        <div class="form-outline mb-2">
                            <input type="number" id="fat" class="form-control form-control-sm" />
                            <label class="form-label" for="fat">Fat (g)</label>
                        </div>

                        <div class="form-outline mb-2">
                            <input type="file" id="file" class="form-control form-control-md" />
                            <label class="form-label" for="customFile">File Upload</label>
                        </div>

                        <button class="btn btn-primary btn-lg btn-block border border-white mb-2" type="submit" style="background-color: black;">Add Food</button>

                    </form>
                }
            </div>
        </div>
    </div>
</div>
